
<div class="news-container"> 
  <div class="news-item">
    <img alt="Berita" src="/bundles/mikaglobal/images/berita.png">
    <div class="news-item-detail">
        <header>
          <h4 class="news-title">
              <a href="/berita/detail/768">Info pengambilan sertifikat Manjemen Semester Genap 2020/2021</a>
              <span class="beritaBaru">[BARU]</span>                 
          </h4>
          <span class="kategori">Umum </span>
          <span class="news-date"> - 20 Jun 2022 15:53:18</span>
        </header>
        <p class="news-description">
          <span>Sertifikat...</span>
          <a target="_blank" class="read-more" href="/berita/detail/768">baca selengkapnya</a>
        </p>
    </div>
  </div>
  <div class="news-item">
    <img alt="Berita" src="/bundles/mikaglobal/images/berita.png">
    <div class="news-item-detail">
        <header>
          <h4 class="news-title">
              <a href="/berita/detail/768">Info pengambilan sertifikat SAP Prodi Manjemen Semester Genap 2020/2021</a>
              <span class="beritaBaru">[BARU]</span>                 
          </h4>
          <span class="kategori">Umum </span>
          <span class="news-date"> - 20 Jun 2022 15:53:18</span>
        </header>
        <p class="news-description">
          <span>Sertifikat...</span>
          <a target="_blank" class="read-more" href="/berita/detail/768">baca selengkapnya</a>
        </p>
    </div>
  </div>
  <div class="news-item">
    <img alt="Berita" src="/bundles/mikaglobal/images/berita.png">
    <div class="news-item-detail">
        <header>
          <h4 class="news-title">
              <a href="/berita/detail/768">Info pengambilan sertifikat SAP Prodi Manjemen Semester Genap 2020/2021</a>
              <span class="beritaBaru">[BARU]</span>                 
          </h4>
          <span class="kategori">Umum </span>
          <span class="news-date"> - 20 Jun 2022 15:53:18</span>
        </header>
        <p class="news-description">
          <span>Sertifikat...</span>
          <a target="_blank" class="read-more" href="/berita/detail/768">baca selengkapnya</a>
        </p>
    </div>
  </div>
  <div class="news-item">
    <img alt="Berita" src="/bundles/mikaglobal/images/berita.png">
    <div class="news-item-detail">
        <header>
          <h4 class="news-title">
              <a href="/berita/detail/768">Info pengambilan sertifikat SAP Prodi Manjemen Semester Genap 2020/2021</a>
              <span class="beritaBaru">[BARU]</span>                 
          </h4>
          <span class="kategori">Umum </span>
          <span class="news-date"> - 20 Jun 2022 15:53:18</span>
        </header>
        <p class="news-description">
          <span>Sertifikat...</span>
          <a target="_blank" class="read-more" href="https://youtube.com">bacaaa selengkapnya</a>
        </p>
    </div>
  </div>
</div>